<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SevletFAN</display-name>
    <servlet-name>SevletFAN</servlet-name>
    <servlet-class>com.JAVA.Servlet.SevletFAN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SevletFAN</servlet-name>
    <url-pattern>/SevletFAN</url-pattern>
  </servlet-mapping>
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdmin</display-name>
    <servlet-name>ServletAdmin</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/ServletAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCelebrity</display-name>
    <servlet-name>ServletCelebrity</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletCelebrity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCelebrity</servlet-name>
    <url-pattern>/ServletCelebrity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletArticle</display-name>
    <servlet-name>ServletArticle</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletArticle</servlet-name>
    <url-pattern>/ServletArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSondage</display-name>
    <servlet-name>ServletSondage</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletSondage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSondage</servlet-name>
    <url-pattern>/ServletSondage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMovie</display-name>
    <servlet-name>ServletMovie</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMovie</servlet-name>
    <url-pattern>/ServletMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTitre</display-name>
    <servlet-name>ServletTitre</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletTitre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTitre</servlet-name>
    <url-pattern>/ServletTitre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemande</display-name>
    <servlet-name>ServletDemande</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletDemande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemande</servlet-name>
    <url-pattern>/ServletDemande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAccueil</display-name>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>com.JAVA.Servlet.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>