@charset "ISO-8859-1";
.container{
	position: absolute;
width: 716px;
height: 800px;
left: 0px;
top: 44px;
background: #1D203E;
}
.banner{
	position: absolute;
width: 668px;
height: 180px;
left: 24px;
top: 24px;
background-image: url(/Celebrity/images/Banner.png);
border-radius: 20px;
}
.keep_in{
	position: absolute;
width: 263px;
height: 103px;
left: 191px;
top: 66px;
font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}
.Survey_results p{
	position: absolute;
width: 210px;
height: 31px;
left: 32px;
top: 231px;
font-family: 'Lato';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}
.Survey_results .card{
	position: absolute;
width: 320px;
height: 208px;
left: 361px;
top: 274px;
background-image: url(/Celebrity/images/Group.png);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
border-radius: 20px;
}
.Survey_results .card p{
	position: absolute;
width: 296px;
height: 33px;
left: 12px;
top: 109px;
font-family: 'Kurale';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #FFFFFF;
}
.Survey_results .card h4{
	position: absolute;
width: 296px;
height: 33px;
left: 12px;
top: 109px;
font-family: 'Kurale';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #FFFFFF;
}
.Survey_results .card p{
position: absolute;
width: 296px;
height: 40px;
left: 12px;
top: 142px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: rgba(255, 255, 255, 0.55);
}
.shape{
position: absolute;
width: 320px;
height: 150px;
left: 0px;
top: 58px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), radial-gradient(22.52% 54.93% at 49.06% 30.28%, #31376F 0%, rgba(137, 75, 162, 0) 100%),conic-gradient(from 180deg at 50% 36.97%, #7976E8 -110.28deg, #F449F4 6.37deg, #0019C0 153.67deg, #7976E8 249.72deg, #F449F4 366.37deg);
backdrop-filter: blur(25px);
border-radius:80px 80px 20px 20px;
}

.img643{
	position: absolute;
width: 59px;
height: 57px;
left: 132px;
top: 58px;
background-image: url(/Celebrity/images/image643.png);

}
.menber{
position: absolute;
left: 102px;
top: 32px;
	display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
width: 71px;
height: 14px;
flex: none;
order: 0;
flex-grow: 0;

}

.vote{
	margin-left:20px;
width: 53px;
height: 14px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: red;
flex: none;
order: 1;
flex-grow: 0;
}
.p_card{
	position: absolute;
width: 320px;
height: 152px;
left: 365px;
top: 552px;

background: url(/Celebrity/images/imger.png);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
border-radius: 20px;
}
.frame1293{
	position: absolute;
width: 220px;
height: 152px;
left: 100px;
top: 0px;

background: #393D5E;
border: 1px solid rgba(255, 255, 255, 0.4);
border-radius: 20px;
}
.disnet_m{
	position: absolute;
width: 100px;
height: 25px;
left: 49.19px;
top: 57.52px;

background: rgba(255, 255, 255, 0.55);
}
.frame3704{
	display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 69.03px;
height: 36.38px;
left: 38px;
top: 10px;
}
.coco{
	width: 49.03px;
height: 16.38px;

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.menber1{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;
position: absolute;
width: 61.27px;
height: 11.36px;
left: 48px;
top: 126px;	
}
.menber1 .icon1{
	width: 11.36px;
height: 11.36px;
background: rgba(255, 255, 255, 0.25);
flex: none;
order: 0;
flex-grow: 0;
}
.like{
	width: 45.91px;
height: 8.93px;

background: rgba(255, 255, 255, 0.25);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}